body {
	margin-top: 20px;
}

.container {
	min-height:100%;
	position:relative;
}

a {
	font-size: smaller;
	color: #E79020;
	text-decoration: none;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 48px;
	color: #A54141;
}

h2 {
	font-size: 25px;
	color: #7A8C8E;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color:	#73BAC6;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.site-footer {
	padding-top: 5px;
	color: gray;
	font-size: smaller;
}


@media (min-width:768px) {
	.col-md-4 {
	width: 33.33333333%;}
}

